@font-face {
    font-family: NintendoDS;
    src: url(/fonts/Nintendo-DS-BIOS.ttf);
}
body{
    font-family: NintendoDS;
}
button:hover{
    cursor: url(../cursor2.png),auto;
}
.trainergender{
    font-family: NintendoDS;
 
}
.avatar{
    position: sticky;
}
.textbox1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    border: #5EBDFC 10px double;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
    margin: 10px;
    height: 250px;
}
.profesor{
    grid-column: 2;
    grid-row: 1/4;
    left: 80%;
    width: 120px;
    height: 180px;
}
.profesor img{
    width: 100%;
    height: 100%;

}
.text1{
    padding-bottom: 10px;
    width: 200px;
}

.text1 p{
    padding-bottom: 10px;
}
.trainerMale,.trainerFemale{
    padding: 0;
    height: 20px;
}
.TrainerStyles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 2fr));
    grid-column-gap: 50px ;
    grid-row-gap: 10px;
    height: 180px;
    
}

.cardTrainer {
    width: 105%;
   height: 150px;
}
.cardTrainer:focus-within{
   
    filter: drop-shadow(14px 6px 8px #000);

}
.gender{
    margin-top: 20px;
}
.TrainerIMGFemale h1,.TrainerIMGMale h1{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.TrainerIMGFemale{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    transition-delay:2s;
    transition: 1s;
    
}
.TrainerShowF{
    position: relative;
    transition-delay:1s;
    transition: 1s;
    

}
.TrainerIMGMale{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    transition: transform 1s;
    
}
.container{
    width: 100%;
    overflow: hidden;
}
.TrainerShowM{
    
    transition-delay:1s;
    transition: 1s;}

.Trainer1IMG{
    width: 100%;
    height: 100%;
    
}
.Trainer1IMG img{
    width: 90%;
    height: 100%;
}
.cardTrainer button{
    width: 100%;
    height: 20px;
    margin: auto;
}
button{
    font-family: NintendoDS;
    width: 100px;
    height: 30px;
    gap: 10px;
    overflow: hidden;
    text-align: center;
}
button:hover{
    cursor: url(../cursor3.png),auto;
}
.btndiv{
    text-align: center;
}
.btnTrainer:hover{
    transition: background-color 200ms;
    cursor: url(../cursor3.png),auto;
}

.btnTrainer:hover p{
    
    transform: translateX(10px);
    transition: transform 200ms;


}
.btnTrainer{
    width: 200px;
    height: 30px;
    display: flex;
    transform: translateX(0px);
    overflow: hidden;

}
.btnTrainer p{
    position: relative;
    font-size: 20px;

    transform: translateX(-20px);
    transition: transform 200ms;
  

}
.btnTrainer span{
    position: relative;
    left: 10px;
}
@media (min-width: 500px){
    .textbox1{
        margin: auto;
        background-color: aqua;
        font-size: 24px;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(3);
        height: 220px;
        width: 800px;
        }
    .text1{
       width: 400px;
       height: 100%;
    }
    .profesor{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .profesor img{
        display: flex;
        margin: auto;
        width: 50%;
        height: 100%;
    }

    .TrainerStyles{
        display: flex;
        margin: auto;
        width: 500px;
        height: 200px ;
        /* background-color: #5EBDFC;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(3); */
        justify-content: center;
        overflow-y: scroll;

        
    }
     .cardTrainer {
        width: 100px;
       height: 150px;
    }
   
    .cardTrainer:focus-within{
       
        filter: drop-shadow(14px 6px 8px #000);
    
    }

     /*
    .gender{
        margin-top: 20px;
    }
    .TrainerIMGFemale h1,.TrainerIMGMale h1{
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;
    }
    
    .TrainerIMGFemale{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        transition-delay:2s;
        transition: 1s;
        
    }
    .TrainerShowF{
        position: relative;
        transition-delay:1s;
        transition: 1s;
        
    
    }
    .TrainerIMGMale{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        transition: transform 1s;
        
    } */

    }