.avatar{
    position: sticky;
}
.TrainerStyles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-column-gap: 50px ;
    grid-row-gap: 10px;
    
}
.cardTrainer {
    width: auto;
    height: 250px;
}
.cardTrainer:active{
    background-color: black;
}
.femaleIMG{
    width: 100px;
    height: 200px;
    margin: auto;
}
.femaleIMG img{
    width: 100%;
    height: 100%;
}
.cardTrainer button{
    width: 100%;
    height: 20px;
    margin: auto;
}