@font-face {
    font-family: NintendoDS;
    src: url(/fonts/Nintendo-DS-BIOS.ttf);
}
.trainergender{
    font-family: NintendoDS;
    font-size: 24px;
}
.avatar{
    position: sticky;
}
.TrainerStyles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-column-gap: 50px ;
    grid-row-gap: 10px;
    
}
.cardTrainer {
    width: auto;
    height: 250px;
}
.cardTrainer:focus-within{
    background-color: black;
}
.femaleIMG{
    width: 100px;
    height: 200px;
    margin: auto;
}
.femaleIMG img{
    width: 100%;
    height: 100%;
}
.cardTrainer button{
    width: 100%;
    height: 20px;
    margin: auto;
}
button{
    font-family: NintendoDS;
    width: 100px;
    height: 30px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}
.btnTrainer:hover{
    background-color: antiquewhite;
    transition: background-color 200ms;
}

.btnTrainer:hover p{
    position: relative;
    transform: translateX(10px);
    transition: transform 200ms;


}
.btnTrainer{
    width: 150px;
    height: 50px;
    display: flex;
    transform: translateX(10px);
    overflow: hidden;

}
.btnTrainer p{
    transform: translateX(100px);
    transition: transform 200ms;
    background-color: aqua;

}