
.PokedexContainer{
    width: 100%;
    height: 90%;
}
article{
    font-size: 12px;
    width: 300px;
}
.pokeNumber{
    position:relative;
    top: 90px;
    display: flex;
    margin: left;
    width: 150px;
    left: 10px;
    height: auto;
}
.pokeNumber button{
    width: 20px;
}
.searchDiv{
    position: relative;
    top: 40px;
    left: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 250px;
    min-height: 40px;
    max-height: 50px;

}
.searchDiv input{
    
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}
.searchDiv button{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    text-align: center;
    background-image: url(../gotcha.png);
    background-size: contain;
    background-position: center;
    color: transparent;
    transition: transform 500ms ease;
    
}
.searchDiv button:hover{
    transform: scale(1.2);
    transition: transform 500ms ease;
}
.btndivs{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 50px;
}
.nextbtn,.backbtn{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.nextbtn{
    transform: translateX(0px);
    transition: transform 500ms;
}
.nextbtn:hover{
    transform: translateX(20px);
    transition: transform 500ms ease;
}
.backbtn{
    transform: translateX(0px);
    transition: transform 500ms;
}
.backbtn:hover{
    transform: translateX(-20px);
    transition: transform 500ms ease;
}
.nextbtn img{
    width: 100%;
    height: 100%;
}
.backbtn img{
    width: 100%;
    height: 100%;
}
.btnicon{
    width: 20px;
    height: 20px;

}
.btnicon img{
    width: 100%;
    height: 100%;

}
.grettings{
    position:absolute;
    right: 70px;
    top: 100px;
    margin-bottom: 20px;
}
.selectdiv1{
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: end;
    
}
.selectType{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    right: 0;
    top: 130px;
    background-color: #AB82FF;
    width: 140px;
    margin-left: 0;
 
   
    max-height: 50px;
}
.selectType span{
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 1/3;
}
.selectType i{
    font-size: 40px;
}
.offList{
  
    right:  100px;
    display: none;
}
.onList{
  
    display: flex;
    background-color: white;
    /* poner backgorun */
}
.selectdiv{
    position: absolute;
    z-index: 20;
    top: 200px;
    right: 0;

    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.btnlist{
    width: 20px;
    height: 20px;
    background-color:red ;
    right: 0;
}
.Optionbox{
 
    width: 100px;
    height: 50px;
    text-align: left;
    border-bottom: #000000 5px solid;

}
.selection{
   
    position: relative;
}


.avatar{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    width: 80px;
    max-height: auto;
    height: 130px;
    z-index: 100;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    z-index: 20;
    overflow: hidden;
    filter: drop-shadow(14px 6px 8px #000);

}
.avatarName{
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 20px;
    font-size: 20px;
    padding-bottom: 0;
    text-align: center;
}
.trainerStyleOn{
position: relative;
bottom: 10px;
width: 90%;
height: 90%;
margin: auto;


} 
.trainerStyleOn img{
    width: 100%;
    height: 100%;
}
.pokedeGrid1{
    width: 100%;
    height: auto;
    padding-left: 1px;
    padding-right: 10px;
}
.pokedeGrid{
   padding-left: 15px;
    height: auto;
    

}
.pokemonCard{
    display: grid;
    max-width: 100%;
    min-height: 400px;
    max-height: 60vh;
     grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    /* grid-template-columns: repeat(auto-fit,2fr);
    grid-template-rows: repeat(1); */
    grid-column-gap: 50px ;
    /* 100 para escritorio */
    grid-row-gap: 70px;
    overflow-y: scroll;
    position: relative;
    z-index: 10;
    padding-top: 40px;
    margin-top: 10px;
    
   
    
}  
::-webkit-scrollbar{
    width: 20px;
    position: absolute;
    z-index: 30;
    
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    position: absolute;
    z-index: 30;

  }
  ::-webkit-scrollbar-thumb {
  background-image: url(/Pokéscroll.png);
  background-repeat:  no-repeat;  
   background-position: center;
  border-radius: 10px;
  position: absolute;
    z-index: 30;

  }
.principal{
    width: 100%;
    height: 270px;
    display: flex;
    border: rgb(223, 189, 115) 10px solid;
    border-radius: 10px;
    margin: auto;
    transition: transform 500ms;
    /* overflow: hidden; */

}

.principal:hover{
    cursor: url(../cursor3.png),auto;
    transform: scale(1.2);
    transition: transform 500ms;
}
.bgcard:hover{
    cursor: url(../cursor3.png),auto;
}
.pokeIMG:hover{
    cursor: url(../cursor3.png),auto;
}
.pokeName:hover{
    cursor: url(../cursor3.png),auto;
}
.pokeIMG{
    position: relative;
    margin: auto;
    bottom:  25px;
    width: 100%;
    height: 130px;
    
    
}

.pokeIMG img{
    width: 100%;
    height: 90%;
    filter: drop-shadow(20px 6px 8px rgba(0, 0, 0, 0.336));
    
}
.pokeName{
   text-align: center;
   text-transform: capitalize;
   width: 100%;
   height: 20px;
   position: relative;
   top: 110px;
background: rgba(255, 255, 255, 0.15);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);

   
   
} 
.pokeInfo{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 10px ;
    text-transform: capitalize;
    background-color:rgb(223, 189, 115);
   
}
.pokeStats{
    background-color:white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
    text-align: center;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-flow: row; */
    height:100px;
    
}
.pokeStats span{
    height: 16px;
    text-transform: uppercase;
    font-size: 12px;
}
.HPstat, .HPvalue,.ATstat,.ATvalue,.DFstat,.DFvalue,.SPstat,.SPvalue,.SATstat,.SATvalue,.SDFstat,.SDFvalue{
padding-top: 5px;
align-items: center;
margin: auto;

}


.pokeStats li{
    list-style: none;
}
.pokeInfo li{
    list-style: none;
}
@media (min-width: 670px) {
   
    article{
        
        margin-left: 50px;
        font-size: 24px;
        justify-content: space-between;
        width: 100%;
        max-height: 50px;
        margin-bottom: 1px;
    }
    .grettings{
        position: absolute;
        right: 90px;
        top: 150px;
        font-size: 24px;
        width: 150px;
        display: flex;
        gap: 10px;
    }
    .searchDiv{
        position: inherit;
        margin: auto;
        padding-top: 10px;
        width: 400px;
    }
    .selectdiv{
        top: 40px;
    }
    .searchDiv input{
        width: 400px;
    }
    .searchDiv button{
        display: flex;
        margin: auto;
        width: 60px;
        height: 60px;
    }
    .selectType{
        position: absolute;
        top: 210px; 
    }
    .avatar{
        width: 110px;
        height: 170px;
    }
    .avatarName{
        bottom: 5px;
        font-size: 24px;
    }
  .pokedeGrid{
    padding-left: 25px;
    
  }
  .pokemonCard{
    grid-column-gap: 100px ;
    grid-row-gap: 50px;
    height: 50vh;
   
    grid-template-columns: repeat(auto-fit, minmax(190px, 2fr));
  }
  .principal{
    width: 200px;
    height: 280px;
  }
  .pokeIMG{
    width:150px;
    height: 130px;
  }
  .pokeName{
    top: 110px;
    font-size: 24px;
  }
  .pokeInfo{
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
  }

.pokeStats{
    
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
}
.pokeStats span{
    height: 25px;
    font-size: 18px;
}

.HPvalue{
    grid-column: 1;
}
.ATstat{
    grid-column: 2/3;
    grid-row: 1;
}
.DFstat{
    grid-column: 3/4;
    grid-row: 1;
}
.SPvalue{
    grid-row: 4;
}
.SATvalue{
    grid-row: 4;
}
}
/* tipos de pokemon */
.tipeContainer{
   
    width: 100%;
    height: 130px;
 
}
.tipeContainer:hover{
    cursor: url(../cursor3.png),auto;
}
.bgcard{
    width: 100%;
    height: 200px;
}
.bg-normal{
    background: rgb(190,190,190);
    background: linear-gradient(0deg, rgba(190,190,190,1) 0%, rgba(204,178,157,1) 60%);
}

.bg-water{
    background: rgb(134,182,174);
background: linear-gradient(0deg, rgba(134,182,174,1) 0%, rgba(43,136,222,1) 60%);
}
.bg-grass{
    background: rgb(128,195,129);
background: linear-gradient(0deg, rgba(128,195,129,1) 0%, rgba(83,255,82,1) 60%);
}

.bg-psychic{
    background: rgb(245,113,140);
background: linear-gradient(0deg, rgba(245,113,140,1) 0%, rgba(191,21,124,1) 60%);
}
.bg-fire{
    background: rgb(255,214,48);
background: linear-gradient(0deg, rgba(255,214,48,1) 0%, rgba(198,17,11,1) 60%);
}
.bg-electric{
    background: rgb(238,229,153);
    background: linear-gradient(0deg, rgba(238,229,153,1) 0%, rgba(251,232,0,1) 60%);
}
.bg-fighting{
    background: rgb(235,168,127);
background: linear-gradient(0deg, rgba(235,168,127,1) 0%, rgb(214, 100, 23) 60%);
}
.bg-normal-flying{
    background: rgb(105,186,183);
    background: linear-gradient(225deg, rgba(105,186,183,0.8883928571428571) 35%, rgba(204,178,157,1) 60%);
}
.bg-fairy{
    background: rgb(235,177,242);
background: linear-gradient(0deg, rgba(235,177,242,1) 0%, rgba(251,113,252,1) 60%);
}
.bg-bug{
    background: rgb(215,245,113);
background: linear-gradient(0deg, rgba(215,245,113,1) 0%, rgba(99,191,21,1) 60%);
}
.bg-ice{
    background: rgb(208,255,246);
background: linear-gradient(0deg, rgba(208,255,246,1) 0%, rgba(21,191,172,1) 60%);
}
.bg-ground{
    background: rgb(210,165,129);
background: linear-gradient(0deg, rgba(210,165,129,1) 0%, rgba(157,79,6,1) 60%);
}
.bg-poison{
    background: rgb(77,26,101);
background: linear-gradient(0deg, rgba(77,26,101,1) 0%, rgba(128,61,182,1) 60%);
}
.bg-rock{
    background: rgb(173,123,23);
background: linear-gradient(0deg, rgba(173,123,23,1) 0%, rgba(214,159,39,1) 60%);
}
.bg-bug-flying{
    background: rgb(105,186,183);
    background: linear-gradient(225deg, rgba(105,186,183,0.8883928571428571) 35%, rgba(99,191,21,1) 60%);
}
.bg-ghost{
    background: rgb(90,92,110);
background: linear-gradient(0deg, rgba(90,92,110,1) 0%, rgba(71,79,133,1) 60%);
}
.bg-grass-poison{
    background: rgb(128,61,182);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(107,247,102,0.896796218487395) 60%);
border: 2px;
border-color: red solid 2px;
}
.bg-dragon{
    background: rgb(26,32,89);
background: linear-gradient(0deg, rgba(26,32,89,1) 0%, rgba(25,35,129,1) 60%);
}
.bg-dark{
    background: rgb(62,62,62);
background: linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(4,4,4,1) 60%);
}
.bg-bug-poison{
    background: rgb(128,61,182);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(99,191,21,1) 60%);
}
.bg-rock-water{
    background: rgb(34,193,195);
    background: linear-gradient(225deg, rgba(34,193,195,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-steel{
    background: rgb(186,186,186);
background: linear-gradient(0deg, rgba(186,186,186,1) 0%, rgba(133,133,133,1) 60%);
}
.bg-rock-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-water-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(34,193,195,1) 60%);
}
.bg-psychic-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg, rgb(105,186,183) 35%, rgba(191,21,124,1) 60%);
}
.bg-steel-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-water-flying{
    background: rgb(141, 218, 215);
background: linear-gradient(225deg, rgb(141,218,215) 35%, rgb(34,193,195) 50%);
}
.bg-psychic-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(191,21,124,1) 60%);
}
.bg-steel-rock{
    background: rgba(176,143,72,1);
background: linear-gradient(225deg, rgba(176,143,72,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-water-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgb(34,193,195) 60%);
}
.bg-grass-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg, rgb(105,186,183) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-poison-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-ghost-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(71,79,133,1) 60%);
}
.bg-normal-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(204,178,157,1) 60%);
}
.bg-ground-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(157,79,6,1) 60%);
}
.bg-dragon-ground{
    background: rgba(25,35,129,1);
background: linear-gradient(45deg, rgba(25,35,129,1) 35%, rgba(157,79,6,1) 60%);
}
.bg-bug-rock{
    background: rgba(176,143,72,1);
background: linear-gradient(225deg, rgba(176,143,72,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-bug-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-bug-grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgba(99,191,21,1) 60%);
}
.bg-ghost--grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgba(71,79,133,1) 60%);
}
.bg-fire-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%,  rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-water-poison{
    background: rgba(128,61,182,0.8547794117647058);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgb(34,193,195) 60%);
}
.bg-water-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgb(34,193,195) 60%);
}
.bg-dragon-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(25,35,129,1) 60%);
}
.bg-dark-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(4,4,4,1) 60%);
}
.bg-normal-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(204,178,157,1) 60%);
}
.bg-bug-water{
    background: rgb(34,193,195);
background: linear-gradient(225deg, rgb(34,193,195) 35%, rgba(99,191,21,1) 60%);
}
.bg-steel-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-fire-rock{
    background: rgba(176,143,72,1);
    background: linear-gradient(225deg, rgba(176,143,72,1) 35%, rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-water-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgb(34,193,195) 60%);
}
.bg-grass-fighting{
    background: rgb(214, 100, 23);
background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-grass-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-grass-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-electric-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(251,232,0,1) 60%);
}
.bg-ice-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgb(34,193,195) 60%);
}
.bg-dark-normal{
    background: rgba(204,178,157,1);
background: linear-gradient(225deg, rgba(204,178,157,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-normal-fighting{
    background: rgb(214, 100, 23);
background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(204,178,157,1) 60%);
}
.bg-fighting-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgb(214, 100, 23) 60%);
}
.bg-poison-fighting{
    background: rgb(214, 100, 23);
 background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-rock-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(176,143,72,1) 60%);
}
.bg-bug-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(99,191,21,1) 60%);
}
.bg-bug-electric{
    background: rgba(251,232,0,1);
background: linear-gradient(225deg, rgba(251,232,0,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-ghost-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(71,79,133,1) 60%);
}
.bg-dragon-ghost{
    background: rgba(25,35,129,1);
background: linear-gradient(45deg, rgba(25,35,129,1) 35%, rgba(71,79,133,1) 60%);
}
.bg-steel-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-steel-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-water-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgb(34,193,195) 60%);
}
.bg-grass-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-grass-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-electric-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-psychic-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(191,21,124,1) 60%);
}
/* ojo */
.bg-psychic-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(191,21,124,1) 60%);
}
.bg-psychic-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(191,21,124,1) 60%);
}
.bg-dark-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-dark-fighting{
    background: rgb(214, 100, 23);
 background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(4,4,4,1) 60%);
}
.bg-normal-grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgba(204,178,157,1) 60%);
}
.bg-fighting-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgb(214, 100, 23) 60%);
}
.bg-flying{
    background: rgb(146,163,162);
background: linear-gradient(0deg, rgba(146,163,162,1) 0%, rgba(105,186,183,1) 60%);
}
.bg-poison-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-poison-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-poison-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-ground-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(157,79,6,1) 60%);
}
.bg-ground-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgba(157,79,6,1) 60%);
}
.bg-rock-electric{
    background: rgba(251,232,0,1);
background: linear-gradient(225deg, rgba(251,232,0,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-rock-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-bug-fighting{
    background: rgb(214, 100, 23);
 background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(99,191,21,1) 60%);
}
.bg-ghost-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(71,79,133,1) 60%);
}
.bg-ghost-poison{
    background: rgba(128,61,182,0.8547794117647058);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(71,79,133,1) 60%);
}
.bg-steel-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(133,133,133,1) 60%);
}
.bg-steel-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(133,133,133,1) 60%);
}
.bg-fire-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-water-fighting{
    background: rgb(214, 100, 23);
background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgb(34,193,195) 60%);
}
.bg-fighting-water{
    background: rgb(214, 100, 23);
background: linear-gradient(45deg, rgb(214, 100, 23) 35%, rgb(34,193,195) 60%);
}
.bg-water-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgb(34,193,195) 60%);
}
.bg-water-grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgb(34,193,195) 60%);
}
.bg-water-electric{
    background: rgba(251,232,0,1);
background: linear-gradient(225deg, rgba(251,232,0,1) 35%, rgb(34,193,195) 60%);
}
.bg-water-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgb(34,193,195) 60%);
}
.bg-grass-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
/* ojo */
.bg-electric-grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgba(251,232,0,1) 60%);
}
.bg-ice-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgb(139, 247, 234));
}
.bg-dragon-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(25,35,129,1) 60%);
}
.bg-fire-dragon{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(45deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(25,35,129,1) 60%);
}
.bg-dragon-electric{
    background: rgba(251,232,0,1);
background: linear-gradient(225deg, rgba(251,232,0,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-electric-dragon{
    background: rgba(251,232,0,1);
background: linear-gradient(45deg, rgba(251,232,0,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-dragon-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-psychic-dragon{
    background: rgba(191,21,124,1);
background: linear-gradient(45deg, rgba(191,21,124,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-dark-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(4,4,4,1) 60%);
}
.bg-dark-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-dark-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-fairy-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgba(251,113,252,1) 60%);
}
.bg-normal-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(204,178,157,1) 60%);
}
.bg-normal-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(204,178,157,1) 60%);
}
.bg-normal-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(204,178,157,1) 60%);
}
.bg-fighting-flying{
    background: rgb(105,186,183);
background: linear-gradient(225deg,rgba(105,186,183,0.8883928571428571) 35%, rgb(214, 100, 23) 60%);
}
.bg-posion-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-poison-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-ground-poison{
    background: rgba(128,61,182,0.8547794117647058);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(157,79,6,1) 60%);
}
.bg-rock-grass{
    background: rgba(107,247,102,0.896796218487395);
background: linear-gradient(225deg, rgba(107,247,102,0.896796218487395) 35%, rgba(176,143,72,1) 60%);
}
.bg-rock-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-rock-dragon{
    background: rgba(25,35,129,1);
background: linear-gradient(225deg, rgba(25,35,129,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-rock-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-bug-ground{
    background: rgba(157,79,6,1);
background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-bug-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-bug-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-fire-normal{
    background: rgba(204,178,157,1);
background: linear-gradient(225deg, rgba(204,178,157,1) 35%, rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-grass-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-electric-normal{
    background: rgba(204,178,157,1);
background: linear-gradient(225deg, rgba(204,178,157,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-electric-poison{
    background: rgba(128,61,182,0.8547794117647058);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(251,232,0,1) 60%);
}
.bg-electric-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-electric-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-ice-flying{
    background: rgba(105,186,183,1);
background: linear-gradient(225deg, rgba(105,186,183,1) 35%, rgb(139, 247, 234) 50%);
}
.bg-ice-bug{
    background: rgba(99,191,21,1);
background: linear-gradient(225deg, rgba(99,191,21,1) 35%, rgb(139, 247, 234) 50%);
}
.bg-ice-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgb(139, 247, 234) 60%);
}
.bg-dragon-fighting{
    background: rgb(214, 100, 23);
background: linear-gradient(225deg,rgb(214, 100, 23) 35%, rgba(25,35,129,1) 60%);
}
.bg-flying-dragon{
    background: rgba(105,186,183,1);
background: linear-gradient(45deg, rgba(105,186,183,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-dark-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-dark-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-dark-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgba(4,4,4,1) 60%);
}
.bg-normal-water{
    background: rgb(34,193,195);
background: linear-gradient(225deg, rgb(34,193,195) 35%, rgba(204,178,157,1) 60%);
}
.bg-fighting-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgb(214, 100, 23) 60%);
}
.bg-fighting-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgb(214, 100, 23) 60%);
}
.bg-poison-normal{
    background: rgba(204,178,157,1);
background: linear-gradient(225deg, rgba(204,178,157,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-poison-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(128,61,182,0.8547794117647058) 60%);
}
.bg-ground-electric{
    background: rgba(251,232,0,1);
background: linear-gradient(225deg, rgba(251,232,0,1) 35%, rgba(157,79,6,1) 60%);
}
.bg-rock-fighting{
    background: rgb(214, 100, 23);
background: linear-gradient(225deg, rgb(214, 100, 23) 35%, rgba(176,143,72,1) 60%)
}
.bg-rock-poison{
    background: rgba(128,61,182,0.8547794117647058);
background: linear-gradient(225deg, rgba(128,61,182,0.8547794117647058) 35%, rgba(176,143,72,1) 60%);
}
.bg-rock-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgba(176,143,72,1) 60%);
}
.bg-bug-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(99,191,21,1) 60%);
}
.bg-ghost-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(71,79,133,1) 60%);
}
.bg-fire-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-fire-water{
    background: rgb(34,193,195);
background: linear-gradient(225deg, rgb(34,193,195) 35%, rgba(223,28,28,0.9051995798319328) 60%);
}
.bg-water-steel{
    background: rgba(133,133,133,1);
background: linear-gradient(225deg, rgba(133,133,133,1) 35%, rgb(34,193,195) 60%);
}
.bg-grass-ground{
    background: rgba(157,79,6,1);
    background: linear-gradient(225deg, rgba(157,79,6,1) 35%, rgba(107,247,102,0.896796218487395) 60%);
}
.bg-electric-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-electric-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgba(251,232,0,1) 60%);
}
.bg-fire-fighting{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(45deg, rgba(223,28,28,0.9051995798319328) 35%, rgb(214, 100, 23) 60%);
}
.bg-electric-psychic{
    background: rgba(191,21,124,1);
background: linear-gradient(225deg, rgba(191,21,124,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-electric-dark{
    background: rgba(4,4,4,1);
background: linear-gradient(225deg, rgba(4,4,4,1) 35%, rgba(251,232,0,1) 60%);
}
.bg-ice-ghost{
    background: rgba(71,79,133,1);
background: linear-gradient(225deg, rgba(71,79,133,1) 35%, rgb(139, 247, 234) 60%);
}
.bg-ice-fire{
    background: rgba(223,28,28,0.9051995798319328);
background: linear-gradient(225deg, rgba(223,28,28,0.9051995798319328) 35%, rgb(139, 247, 234) 60%);
}
.bg-ice-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgb(139, 247, 234) 60%);
}
.bg-dragon-ice{
    background: rgb(139, 247, 234);
background: linear-gradient(225deg, rgba(139,247,234,1) 35%, rgba(25,35,129,1) 60%);
}
.bg-dragon-fairy{
    background: rgba(251,113,252,1);
background: linear-gradient(225deg, rgba(251,113,252,1) 35%, rgba(25,35,129,1) 60%);
}

/* @media (max-width: 500px) {
    .avatar{
        width: 70px;
        height: 130px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        
    }
    .avatar p{
        font-size: 10px;
        margin:auto;
    }
    .trainerStyleOn{
    width: 60px;
    height: 100px;
    }
    
}  */