.PokedexContainer{
    width: 100%;
    height: 100%;
}
.avatar{
    max-width: 100px;
    max-height: 150px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: center;
}
.avatar p{
    font-size: 10px;
    padding: 0;
    margin:auto;
}
.trainerStyleOn{
width: 80px;
height: 150px;
}
.trainerStyleOn img{
    width: 100%;
    height: 100%;
    margin: auto;
}
.pokedeGrid{
    width: 185vh;
    height: auto;
    margin: auto;
    background-color: aquamarine;

}




/* tipos de pokemon */

.bg-normal{
    background: rgb(221,204,170);
background: radial-gradient(circle, rgba(221,204,170,1) 53%, rgba(255,247,230,1) 100%);
}
.bg-water{
    background: rgb(176,226,255);
    background: radial-gradient(circle, rgba(176,226,255,1) 0%, rgba(41,204,254,1) 100%);
}
.bg-grass{
background-color:#99FF66 ;
}
.bg-psychc{
    background-color: #FFB5C5;
}
.bg-fire{
    background-color:#FF7F00 ;
}
.bg-electric{
    background-color: #FFD700;
}
.bg-fight{
    background-color: 	#FF6A6A;
}
.bg-normal-flying{
    background: rgb(221,204,170);
background: radial-gradient(circle, rgba(221,204,170,1) 0%, rgba(186,170,255,1) 100%);
}
.bg-fairy{
    background-color: 	#FFB0FF;
}
.bg-bug{
    background-color: #99CC33;
}
.bg-ice{
    background-color: #ADD8E6;
}
.bg-ground{
    background-color: #DEB887;
}
.bg-poison{
    background-color:#CC88BB ;
}
.bg-rock{
    background-color:#CD853F ;
}
.bg-bug-flying{
    background: rgb(153,204,51);
background: radial-gradient(circle, rgba(153,204,51,1) 0%, rgba(186,170,255,1) 100%);
}
.bg-ghost{
    background-color: #778899;
}
.bg-grass-poisson{
    background: rgb(153,255,102);
background: radial-gradient(circle, rgba(153,255,102,1) 0%, rgba(204,136,187,1) 100%);
}
.bg-dragon{
    background-color: 	#AB82FF;
}
.bg-dark{
    background-color: 	#A9A9A9;
}
.bg-bug-poisson{
    background: rgb(153,204,51);
background: linear-gradient(90deg, rgba(153,204,51,1) 0%, rgba(204,136,187,1) 100%);
}
.bg-rock-water{
    
}
.bg-steel{
    
}
.bg-rock-ground{
    
}
.bg-water-ground{
    
}
.bg-psychc-flying{
    
}
.bg-steel-psychc{
    
}
.bg-water-flying{
    
}
.bg-psychc-fairy{
    
}
.bg-steel-rock{
    
}
.bg-water-ice{
    
}
.bg-grass-flying{
    
}
.bg-poison-dark{
    
}
.bg-ghost-fire{
    
}
.bg-normal-psychc{
    
}
.bg-ground-ghost{
    
}
.bg-ground-dragon{
    
}
.bg-bug-rock{
    
}
.bg-bug-steel{
    
}
.bg-bug-grass{
    
}
.bg-ghost--grass{
    
}
.bg-fire-flying{
    
}
.bg-water-poison{
    
}
.bg-water-dark{
    
}
.bg-dragon-flying{
    
}
.bg-dark-flying{
    
}
.bg-normal-fairy{
    
}
.bg-bug-water{
    
}
.bg-steel-ground{
    
}
.bg-fire-rock{
    
}
.bg-water-psychc{
    
}
.bg-grass-fight{
    
}
.bg-grass-dragon{
    
}
.bg-grass-fairy{
    
}
.bg-elecric-flying{
    
}
.bg-ice-psychc{
    
}
.bg-dark-normal{
    
}
.bg-normal-fight{
    
}
.bg-fight-psychc{
    
}
.bg-poison-fight{
    
}
.bg-rock-flying{
    
}
.bg-bug-fire{
    
}
.bg-bug-electric{
    
}
.bg-ghost-dragon{
    
}
.bg-steel-dragon{
    
}
.bg-steel-fairy{
    
}
.bg-water-fairy{
    
}
.bg-grass-psychc{
    
}
.bg-grass-dark{
    
}
.bg-electric-steel{
    
}
.bg-psychc-ghost{
    
}
/* ojo */
.bg-psychc-ghost{
    
}
.bg-psychc-fire{
    
}
.bg-dark-dragon{
    
}
.bg-dark-fight{
    
}
.bg-normal-grass{
    
}
.bg-fight-steel{
    
}
.bg-flying{
    
}
.bg-poison-flying{
    
}
.bg-poison-ground{
    
}
.bg-poison-dragon{
    
}
.bg-ground-flying{
    
}
.bg-ground-dark{
    
}
.bg-rock-electric{
    
}
.bg-rock-ice{
    
}
.bg-bug-fight{
    
}
.bg-ghost-flying{
    
}
.bg-ghost-poison{
    
}
.bg-steel-flying{
    
}
.bg-steel-ghost{
    
}
.bg-fire-ground{
    
}
.bg-water-fight{
    
}
.bg-water-ghost{
    
}
.bg-water-grass{
    
}
.bg-water-electric{
    
}
.bg-water-dragon{
    
}
.bg-grass-steel{
    
}
/* ojo */
.bg-electric-grass{
    
}
.bg-ice-ground{
    
}
.bg-dragon-fire{
    
}
.bg-dragon-electric{
    
}
.bg-dragon-psychc{
    
}
.bg-dark-fire{
    
}
.bg-dark-psychc{
    
}
.bg-dark-fairy{
    
}
.bg-fairy-flying{

}
.bg-normal-ground{
    
}
.bg-normal-ghost{
    
}
.bg-normal-dragon{
    
}
.bg-fight-flying{
    
}
.bg-posion-fire{
    
}
.bg-poison-psychc{
    
}
.bg-ground-poison{
    
}
.bg-rock-grass{
    
}
.bg-rock-psychc{
    
}
.bg-rock-dragon{
    
}
.bg-rock-fairy{
    
}
.bg-bug-ground{
    
}
.bg-bug-psychc{
    
}
.bg-bug-fairy{
    
}
.bg-fire-normal{
    
}
.bg-grass-ice{
    
}
.bg-electric-normal{
    
}
.bg-electric-poison{
    
}
.bg-electric-ice{
    
}
.bg-electric-fairy{
    
}
.bg-ice-flying{
    
}
.bg-ice-bug{
    
}
.bg-ice-steel{
    
}
.bg-dragon-fight{
    
}
.bg-dark-ghost{
    
}
.bg-dark-steel{
    
}
.bg-dark-ice{
    
}
.bg-normal-water{
    
}
.bg-fight-ghost{
    
}
.bg-fight-ice{
    
}
.bg-poison-normal{
    
}
.bg-poison-fairy{
    
}
.bg-ground-electric{
    
}
.bg-rock-fight{
    
}
.bg-rock-poison{
    
}
.bg-rock-dark{
    
}
.bg-bug-ghost{
    
}
.bg-ghost-fairy{
    
}
.bg-fire-steel{
    
}
.bg-fire-water{
    
}
.bg-water-steel{
    
}
.bg-grass-ground{
    
}
.bg-electric-ghost{
    
}
.bg-electric-fire{
    
}
.bg-electric-psychc{
    
}
.bg-electric-dark{
    
}
.bg-ice-ghost{
    
}
.bg-ice-fire{
    
}
.bg-ice-fairy{
    
}
.bg-dragon-ice{
    
}
.bg-dragon-fairy{
    
}

@media (max-width: 500px) {
    .avatar{
        width: 70px;
        height: 130px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        
    }
    .avatar p{
        font-size: 10px;
        margin:auto;
    }
    .trainerStyleOn{
    width: 60px;
    height: 100px;
    }
    
}