 body{
background-image: url(../Pokémon-Unite-Background-Pictures.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
backdrop-filter: blur(10px);
cursor: url(../public/cursor1.png),auto;
min-height: 100vh;
margin-bottom: 0;
}
.App{
    width: auto;
    height: 100%; 
}
.pokeTitle{
    width: 100%;
    height: 50px;
    transition: transform .5s;
    filter: drop-shadow(14px 6px 8px rgba(0, 0, 0, 0.566));
    
}
.pokeTitle:hover{
    transform: rotate3d(0,1,0,40deg);
    z-index: 30;
    transition: transform .5s;
    
}
.pokeTitle img{

    width: 50%;
    height: 100%;
   
    

}

.formDiv{
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    align-items: center;
}
.formDiv img {
    width: 100px;
    position:absolute;
    bottom: 30px;
    right:  50px;
    z-index: 2;

}
.btnrotom{
    background-color: #6cd3ff;
    width: 50px;
    height: 100px;
    position:absolute;
    bottom: 10px;
    right: 10px;
    overflow: hidden;    
}
.btnrotom img{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
button{
    width: 100px;
    
}
button img{
    position:absolute;
    width: 100%;
    height: 100%;
    
}
.formDiv form{
    position: relative;
    margin-top: 10px;
    z-index: 3;
}
.formDiv input{
    background-color: #6cd3ff;
    height: 40px;
}
.input[type="submit"]:hover{
    cursor: url(../cursor2.png),auto;
}
input:focus{
    cursor: url(../cursor3.png),auto;
}
.footerPoke{
    background-color: aqua;
    position: absolute;
    width: 100%;
    bottom: 0; 
}
/*  */
.Pagination{
    /* position: absolute; */
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1px;
    
}
.pageContainer{
    display: flex;
    gap: 1px;
    list-style: none;
    background-color: azure;
    border-radius: 15px;
}
.paginationPage{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.paginationActive{
 background-color: yellow;
 border-radius: 15px;
 
}
.paginationActivebtn{
    color: yellow;
    font-size: 24px;
}
.ArrowNone{
    color: transparent;
}
 @media (min-width: 600px) {
 body{
  
    /* /* background-image: url(../Pokémon-Unite-Background-Pictures.png);
    background-size: auto; 
    background-image: none; */
    background-position: center;
    backdrop-filter: blur(10px);
    width: 100%;
    min-height: 100vh;
    max-height: 100vh; 
 }
 .pokeTitle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.pokeTitle img{
    /* margin-left: 20%; */
    max-width: 70%;
    height: 100%;
    

}
.pokeNumber{
    width: 100px;
    height: 20px;
   
}
.Pagination{
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    justify-content: center;
}
}
 

