*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    /* background-image: url(../PokeÃÅmon-Unite-Background-Pictures.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
    width: 100%; */
    cursor: url(../cursor1.png),auto;
    
}
